<h1>Log In</h1>

<%= form_tag login_path, method: :post do %>
  <div class="field">
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password_digest %>
    <%= password_field_tag :password_digest %>
  </div>
  <div class="actions">
    <%= submit_tag "Log In" %>
  </div>
<% end %>